@page
@model CinemaRazor.Pages.Genres.IndexModel

@{
    ViewData["Title"] = "Жанры";
}

<h1>Жанры</h1>
<hr />

<p>
    <a asp-page="Create" class="btn btn-primary">Добавить жанр</a>
</p>

@if (Model.Genre.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Genre)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@(string.IsNullOrWhiteSpace(item.Description) ? "—" : item.Description)</td>
                    <td class="text-end">
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Изменить</a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Просмотр</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">
        Пока нет добавленных жанров. <a asp-page="Create">Создайте первый жанр</a>.
    </div>
}
